@import '../../../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


.page-header{
    font-family: 'Montserrat', sans-serif;
}

.tabela-dados{
    font-family: 'Montserrat', sans-serif;
}