<div class="page-header">
    <h3 class="page-title">
      Tipo Esgotamento
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tipo Esgotamento</li>
      </ol>
    </nav>
  </div>

<div class="tabela-dados col-lg-12 grid-margin stretch-card ">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Código
                            </th>
                            <th>
                                Tipo de Esgotamento
                            </th>
                            <th>
                                Data Cadastro
                            </th>
                            <th>
                                Data Atualização
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                Fossa
                            </td>
                            <td>
                                17/11/2020 16:15:00
                            </td>
                            <td>
                                17/11/2020 17:15:00
                            </td>
                            <td>
                              
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                Sumidoro
                            </td>
                            <td>
                                17/11/2020 16:15:00
                            </td>
                            <td>
                                17/11/2020 17:15:00
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                3
                            </td>
                            <td>
                                Corrego / Rio
                            </td>
                            <td>
                                17/11/2020 16:15:00
                            </td>
                            <td>
                                17/11/2020 17:15:00
                            </td>
                            <td>
                               
                            </td>
                        </tr>
                        <tr>
                            <td>
                                4
                            </td>
                            <td>
                                Céu Aberto
                            </td>
                            <td>
                                17/11/2020 16:15:00
                            </td>
                            <td>
                                17/11/2020 17:15:00
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                5
                            </td>
                            <td>
                                Rede Coletora
                            </td>
                            <td>
                                17/11/2020 16:15:00
                            </td>
                            <td>
                                17/11/2020 17:15:00
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>
                                6
                            </td>
                            <td>
                                Galeria Pluvial
                            </td>
                            <td>
                                17/11/2020 16:15:00
                            </td>
                            <td>
                                17/11/2020 17:15:00
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div div class="col-lg-12 justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Anterior</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Próximo</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
    
</div>
